.pc
*/.pc
*.bz2
*/*.spec
*/config.guess
*/config.h.in
*/config.log
*/config.sub
*/configure
*/install-sh
*/missing
job/ltmain.sh
job/sgi-job.feature
job/compile
job/stamp-h1
*/config.h
*/config.status
*/aclocal.m4
*/autom4te.cache/
*/libtool
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
